{{>layout/header}}

<h1>스프링 부트로 </h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button"
               class="btn btn-primary">글 등록</a>
            {{#userNames}}
                name: <span id="user">{{userNames}}
        </span>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userNames}}
            {{^userNames}}
                <a href="/oauth2/authorization/google" class="btn btn-success active"
                   role="button">Google Login</a>
                {{/userNames}}
        </div>
    </div>
    <br>
<!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}


<div class="main-wrap">
    <div class="cover_1 cover_sm">
        <div class="img_bg" style="background-image: url(img/slider-1.jpg);" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 text-center" data-aos="fade-up">
                        <h2 class="heading mb-4">Day n Day</h2>
                        {{#userNames}}
                            <div class="date-info">name : {{userNames}}
                            </div>
                            <div class="author-info"> <a href="#">Day n Day!</a></div>
                            <div class="author-info"><span class="seperator">|</span> <a href="#">Loout</a></div>
                        {{/userNames}}
                        {{^userNames}}
                            <div class="post-info">

                                <div class="category-info"><a href="https://accounts.google.com/signup/v2/webcreateaccount?continue=https%3A%2F%2Fwww.google.com%2F%3Fhl%3Dko&hl=ko&dsh=S-1929214590%3A1590019849165225&gmb=exp&biz=false&flowName=GlifWebSignIn&flowEntry=SignUp" data-title="View all posts in Lifestyle" title="View all posts in Lifestyle">Google Sign Up
                                </a></div>
                                <div class="category-info"><span class="seperator">|</span> <a href="https://accounts.google.com/signin/v2/usernamerecovery?hl=ko&passive=true&continue=https%3A%2F%2Fwww.google.com%2F%3Fhl%3Dko&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Forgot?
                                </a></div>
                                <div class="author-info"><span class="seperator">|</span> <a href="#">Login</a></div>
                            </div>
                        {{/userNames}}

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .cover_1 -->
</div> <!-- .main-wrap -->

