<div class="row mb-5">
    {{#posts}}

    <div class="col-md-4">
        <div class="media d-block media-bg-white mb-5" data-aos="fade-up"  data-aos-delay="400">
            <figure>
                <a href="blog-single.html"><img src="img/news_2.jpg" alt="Image placeholder" class="img-fluid"></a>
            </figure>
            <div class="media-body">
                <h3>{{title}}</h3>
                <p class="post-meta"><span> {{id}}</span></p>
                <p class="mb-4">{{modifiedDate}}</p>
                <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Read More</a></p>
            </div>
        </div> <!-- .media -->
    </div>


    {{/posts}}

</div>